<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    >
    <!--coreApp="true"
      android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"
        tools:ignore="LeanbackUsesWifi" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-configuration android:reqFiveWayNav="true" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moviebeam"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.movies.ConfirmRentalActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.refreshingui.RefreshingUiActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.inroomdining.InRoomDiningActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.kaping.RegisterSTBActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.casting.CastingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.guestservice.feedback.thankyou.ThankYouActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.programguide.PrgGuidePlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.programguide.ProgramGuideActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing|adjustPan" />
        <activity
            android:name=".ui.stbdetail.STBDetailsActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.serial_info.SerialActivity"
            android:banner="@mipmap/ic_banner"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleInstance"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustNothing">

            <!-- TODO Uncomment this for release
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL"/>
            </intent-filter>
-->
        </activity>
        <activity
            android:name=".ui.mainmenu.MainMenuActivity"
            android:banner="@mipmap/ic_banner"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.appworld.AppWorldActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.showtime.ShowtimeActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.movies.MoviesActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.guestservice.GuestServiceActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing|adjustPan" />

        <activity
            android:name=".ui.hotelinfo.HotelInfoActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.localattraction.LocalAttractionActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.exoplayer.ExoPlayerActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:enabled="true"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.home.DataStoreActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".ui.kappingservice.EndlessService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".ui.loggerService.LoggingService"
            android:exported="false"
            android:foregroundServiceType="dataSync|location" />

        <receiver
            android:name=".ui.kappingservice.StartReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="android.app.admin.DeviceAdminReceiver"
            android:exported="false"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

<!--         dpm set-device-owner com.diipl.moviebeam/.AdminReceiver-->
<!--         dpm remove-device-owner com.diipl.moviebeam/.AdminReceiver-->
        <receiver
            android:name=".AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>


        <!-- If you want to disable android.startup completely. -->
       <!-- <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>-->

<!--
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            &lt;!&ndash; If you are using androidx.startup to initialize other components &ndash;&gt;
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
-->

    </application>

</manifest>